@font-face {
    font-family: 'librebodoni';
    src: url('../fonts/libre-bodoni-regular.ttf') format('ttf');
}

@font-face {
    font-family: 'cornella';
    src: url('../fonts/cornella-Regular.otf') format('otf');
}