//Colors
$primary-color: #896C5E;
$secondary-color: #BFA38B;
$third-color: #544339;
$bg-color: #F5E9D3;

//Font
$primary-font: 'libre bodoni';
$secondary-font: 'cornella';

//Breakpoints
$break-sm: 480px;
$break-md: 768px;
$break-lg: 1200px;