@use "../abstracts";

#contact {
  h1 {
    color: abstracts.$primary-color;
    font-size: 30px;
    margin-left: 6rem;
  }
  .wrapper {
    margin-left: 4.5rem;
  }
}

.form {
  background: #fff;
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 90px;
  padding-right: 90px;
  left: 0;
  right: 0;
  margin-bottom: 5rem;
  border-top: 5px solid abstracts.$primary-color;
  animation: bounce 1.5s infinite;
  @media screen and (min-width: 768px) {
    padding-left: 500px;
    padding-right: 500px;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-left: 28rem;
  }
}
::-webkit-input-placeholder {
  font-size: 1.4em;
}

#contact {
  h1 {
    margin-top: 10rem;
    font-size: 40px;
  }
  @media screen and (min-width: 768px) {
    h1 {
      font-size: 52px;
      margin-left: 45rem;
      margin-top: 14rem;
    }
  }
}

.name {
  background-color: #ebebeb;
  color: white;
}

.email {
  background-color: #ebebeb;
  height: 2em;
}

.message {
  background-color: #ebebeb;
  overflow: hidden;
  height: 10rem;
}

.formEntry {
  display: block;
  margin: 30px auto;
  min-width: 300px;
  padding: 20px;
  border-radius: 2px;
  border: none;
  transition: all 0.5s ease 0s;
  @media screen and (min-width: 768px) {
    position: relative;
    padding: 30px 300px;
    right: 23rem;
  }
}

.submit {
  width: 200px;
  color: white;
  background-color: abstracts.$primary-color;
  font-size: 22px;
  @media screen and (min-width: 768px) {
    position: relative;
    padding-left: 120px;
    padding-right: 120px;
    margin-left: 230px;
  }
}

.submit:hover {
  box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
  transform: translateY(-3px);
  width: 300px;
  border-top: 5px solid abstracts.$primary-color;
  border-radius: 0%;
}

@keyframes bounce {
  0% {
    tranform: translate(0, 4px);
  }
  50% {
    transform: translate(0, 8px);
  }
}

input::placeholder {
  font-size: 22px;
  font-family: "Libre Bodoni", serif;
  @media screen and (min-width: 768px) {
    font-size: 30px;
    position: relative;
    right: 260px;
  }
}

textarea::placeholder {
  font-size: 22px;
  font-family: "Libre Bodoni", serif;
  @media screen and (min-width: 768px) {
    font-size: 30px;
    position: relative;
    right: 260px;
  }
}
