@use '../abstracts';

.main-header {
    background-color: #000000;
    position: sticky;
    width: 100%;
    z-index: 999;
    height: 8rem;
    
    // Logo styling for mobile
    .header-logo {
        width: 20%;
        padding-top: 10px;
    }
    
    // Hamburger icon color
    .hamburger svg {
        position: absolute;
        fill: abstracts.$bg-color; 
        margin-top: -90px;
    }

    .menu-nav {
        display: none; 
        flex-direction: column;
        position: absolute;
        width: 100%;
        background-color: #000000; // Dropdown background
        top: 8rem; 
        left: 0;
        list-style: none;
        padding: 0;
        margin: 0;
    }

   
    .menu-nav.is-open {
        display: flex; 
    }

    
    .menu-nav li a {
        color: abstracts.$bg-color; 
        padding: 15px 20px;
        text-decoration: none;
        display: block;
        font-size: 28px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
}

@media screen and (min-width: 760px) {
    .main-header {
        height: auto; 


        .hamburger {
            display: none;
        }

        .header-logo img {
            content: url('../../images/full_logo.png');
            height: 200px;
            width: auto;
            margin-top: -20px;
            margin-left: -280px;
        }
        
       
        .menu-nav {
            display: flex !important; 
            position: static;
            flex-direction: row;
            justify-content: flex-end;
            margin: 0;
            padding: 0;
            background-color: transparent;
            margin-top: -140px;
            
            li {
                padding: 40px; 
                font-size: 32px;
                margin-left: 100px; 
                left: 12rem;
                position: relative;
                display: flex;
                align-items: center;
                transition: all 300ms ease-in;
                
                a {
                    color: abstracts.$bg-color;
                    padding: 0; 
                    border-bottom: none;
                }
            }
        }


        .menu-nav li:after,
        .menu-nav li:before {
            content: "";
            position: absolute;
            width: 0%;
            display: block;
            height: 1px;
            transition: all 0.3s ease;
            margin-top: 2px;
            transition: all 300ms ease-in;
        }

        .menu-nav li:after {
            bottom: 25%;
            left: 0;
        }

        .menu-nav li:before {
            top: 25%;
            right: 0;
        }

        .menu-nav li:hover::after {
            width: 100%;
            height: 1px;
            bottom: 25%;
            background-color: abstracts.$bg-color;
        }
        .menu-nav li:hover::before {
            width: 100%;
            height: 1px;
            top: 25%;
            background-color: abstracts.$bg-color;
        }
    }
}