@use '../abstracts';
.main-header {
    background-color:abstracts.$primary-color ;
    position: fixed;
    z-index: 999;
    height: 6rem;
    .header-logo {
        width: 20%;
        padding-top: 12px;
    }

    .main-menu {
        margin-top: -60px;
        .hamburger svg {
            fill: abstracts.$bg-color;
        }

        .menu {
            display: none;
        }
    }
}

@media screen and (min-width: 760px) {
    .menu nav {
            display: flex;
            align-items: center;
            padding-top: 10px;
        }

        .menu ul {
            list-style: none;
            display: flex;
        }

        .menu li a {
            display: block;
            white-space: nowrap;
            color: abstracts.$bg-color;
            padding: 0px 16px;
            font-size: 24px;
        }
}