@use '../abstracts';
 #hero-header {
    background-color: abstracts.$bg-color;
    .hero-image {
    background-image: url('../../images/header_img.png');
    height: 25vh;
    width: auto;
    margin-top: -20px;
    background-size: cover;
    background-position: center;

    @media screen and (min-width: 760px) {
        height: 68vh;
        width: 100%;
        margin-top: -5px;
    }
 }
 }
 
