@use '../abstracts';
#hero {
    background-color: abstracts.$primary-color;
    height: 22rem;
    width: 100%;
    margin-top: 4.2rem;
    padding-top: 2rem;

    .hero-title {
        color: abstracts.$bg-color;
        margin-top: -16px;
        font-size: 2.4em;
        text-align: center;
    }

    .line-text{
        -webkit-text-stroke-color: abstracts.$bg-color;
        -webkit-text-stroke-width: 1px;
        color: transparent;
    }
}

