@use "../abstracts";

.intro {
  height: 120vh;
}

.profile-img {
  position: relative;
  width: 32.7%;
  top: 890px;
  padding-left: 2px;
}

.profile-text {
  h2 {
    font-family: "cornella";
    font-size: 32px;
    color: abstracts.$primary-color;
    padding-left: 3.5rem;
    margin-top: 20px;
  }
}

@media screen and (min-width: abstracts.$break-md) {
  .profile-img {
    width: 33%;
    top: 752px;
  }
  .profile-text {
    h2 {
      font-size: 90px;
      padding-left: 18rem;
    }
  }
}

.text-intro {
  position: relative;
  top: -150px;
  background-color: abstracts.$primary-color;
  height: 46vh;
  font-family: "librebodoni";
  font-size: 16px;
  height: 46vh;
  color: abstracts.$bg-color;
  text-align: center;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  line-height: 1.6;
}

.intro-img {
  margin-top: -140px;
}

@media screen and (min-width: abstracts.$break-md) {
  .text-intro {
    position: relative;
    top: -754px;
    z-index: -1;
    height: 102.4vh;
    padding-left: 40rem;
    font-size: 34px;
  }
  .intro-img {
    z-index: 1001;
    margin-top: -500px;
  }
}

.resume-btn {
  position: relative;
  display: inline-block;
  width: fit-content;
  padding: 14px 28px;
  margin-left: 4.5rem;
  margin-top: 2rem;
  // background: linear-gradient(135deg, #896c5e, #bfa38b);
  color: white;
  border: none;
  // border-radius: 50px;
  font-family: "cornella";
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.5px;
  cursor: pointer;
  transition: all 0.25s ease;
  // box-shadow: 0 8px 20px rgba(191, 163, 139, 1);

  &:hover {
    transform: translateY(-4px);
    // box-shadow: 0 12px 28px rgba(191, 163, 139, 1);
  }

  &:active {
    transform: translateY(-2px) scale(0.98);
  }

  @media screen and (min-width: abstracts.$break-md) {
    top: -120px;
    margin-left: 38rem;
    margin-bottom: -120px;
    padding: 28px 52px; 
    font-size: 40px; 
  }
}
