@use "../abstracts";

#portfolio {
  .content {
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
  }

  .description {
    text-align: center;
    font-weight: 700;
    color: abstracts.$primary-color;
    margin-bottom: 40px;
    font-size: 40px;
    word-spacing: 10px;
    @media screen and (min-width: 768px) {
      font-size: 50px;
    }
  }

  
  .content p {
    font-size: 18px;
    margin-bottom: 3rem;
    margin-top: -20px;
    color: abstracts.$third-color;
    @media screen and (min-width: 768px) {
      font-size: 30px;
    }
  }

  
  .content-gallery {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    
    img { 
      object-fit: cover;
      width: 30%;
      display: block;
      margin-bottom: 15px;
      box-shadow: 0 0 6px rgb(0, 0, 0, 0.5);
      cursor: pointer;
      
      transition: all 0.3s ease-in-out; 
    }

    img:hover {
      transform: scale(1.1);
    }

   
    .image-light {
      position: fixed;
      background: rgba(0, 0, 0, 0.6);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translate(100%);
      transition: transform 0.2s ease-in-out;
    }

    .show {
      transform: translate(0);
    }
    
    .agregar-imagen { 
      object-fit: cover;
      width: 80%;
      margin-left: 4rem;
      border-radius: 10px;
      transform: scale(0);
      transition: transform 0.3s 0.2s;
      @media screen and (min-width: 768px) {
        margin-left: 16rem;
      }
    }

    .showImage {
      transform: scale(1);
    }
    
    .close {
      position: absolute;
      top: 15px;
      right: 15px;
      width: 40px;
      cursor: pointer;
      color: abstracts.$primary-color;
      font-size: 25px;
    }
  }
}

//icons
#skill {
  .icon-skill {
    h3 {
      text-align: center;
      font-weight: 700;
      color: abstracts.$primary-color;
      margin-bottom: 40px;
      font-size: 40px;
      word-spacing: 10px;
      @media screen and (min-width: 768px) {
        font-size: 50px;
      }
    } 

    ul {
      list-style: none;
      display: flex;
      margin-left: 7rem;
      margin-bottom: 2rem;
      margin-top: -15px;
      @media screen and (min-width: 768px) {
        margin-left: 42rem;
        margin-bottom: 5rem;
      }
    }

    ul img {
      height: 100px;
      margin-left: 10px;
      @media screen and (min-width: 768px) {
        height: 180px;
      }
    }
  }
}