@use '../abstracts';
// @use '../base';

* {
  box-sizing: border-box;
}

html {
    height: 100%;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: abstracts.$bg-color;
    }

    &::-webkit-scrollbar-thumb {
        background: abstracts.$primary-color;
        border-radius: 5px;
    }
}

body {
    font-family: "Libre Bodoni", serif;
    margin: 0;
    color: abstracts.$secondary-color;
    background: abstracts.$bg-color;
    line-height: 1.45;
    font-size: 16px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    max-width: 100vw;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;
}